body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
.menu {
  margin: 50px;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu > ul > li {
  background-color: #2c3e50;
  color: white;
  padding: 15px 30px;
  width: 200px;
  cursor: pointer;
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
}
.dropdown li {
  background-color: #34495e;
  padding: 12px;
  color: white;
}
.menu li:hover .dropdown {
  display: block;
}

.dropdown li:hover {
  background-color: #1abc9c;
}
