body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: url(cat-coding-focused-feline-working-laptop-bokeh-lights-grey-shown-possibly-programming-background-features-soft-367972958.webp);
}

.parallax {
  height: 100vh;
  background-attachment: fixed; 
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}


.img2 {
  background-image: url(4KwhdIsp_400x400.jpg);
}

.text {
  color: white;
  font-size: 3em;
}

.content {
  height: 300px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: top;
  align-items: center;
  font-size: 2em;
}
